<p>
  <b>Id:</b>
  <%=h @item.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>X:</b>
  <%=h @item.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @item.y %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>